<html>
 <head>
   <title>CMS Login</title>
 </head>
 <body>
   {% with messages = get_flashed_messages() %}
     {% if messages %}
       <h1> Error:  {% for message in messages %}{{message}}{% endfor %}</h1>
     {% endif %}
   {% endwith %}
   <form action='/login' method='POST'>
     <table>
       <tr><td>Username:</td><td><input type='text' name='username' size='64' /></td></tr>
       <tr><td>Password:</td><td><input type='password' name='password' size='64' /></td></tr>
       <tr><td colspan='2'><input type='submit' name='submit' value='Log In' /></td></tr>
     </table>
   </form>
 </body>
</html>
