html { 
	font-family: 'Raleway', sans-serif; 
}

div.main_wrapper{
	background-image: url('/images/background_desk.jpg');
	background-repeat: no-repeat;
	height: 900px;
	margin-top: -50px;
	width: 100%;
	background-size: 100%;
}

div.logo {
	width: 200px; 
	margin-left: 40%; 
	padding-top: 200px;
	}

li.flashedMessageError { 
	color: red; 
	font-weight: 800; 
}

li.flashedMessageMessage { 
	font-weight: 800; 
}

ul.field_errors { 
	color: red; 
	font-size: 8pt; 
}

div.login_form { 
	margin-right: 500px; 
	margin-top: 100px;
	height: 200px;
	background-color: #fff;
	opacity: .75;
	width: 100%;

}
div.create_form {
	margin-right: 500px; 
	margin-top: 100px;
	height: 310px;
	background-color: #fff;
	opacity: .75;
	width: 100%;
}

div.display_region {
	margin-right: 500px; 
	margin-top: 100px;
	height: 395px;
	background-color: #fff;
	opacity: .75;
	width: 100%;
        overflow: auto;
}

form {
	padding-top: 25px;
	margin-right: auto;
	margin-left: 400px;
}

form label {
	font-family: 'Raleway', sans-serif; 
	font-weight: 700;

}

form input#username 
form input#password {
 width: 400px;
  background-color: #4b4b4b;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 5px;
  font-size: 1.1em;
}

#submit {
	margin-top: 10px;
	background-color: #373737;
  		-webkit-border-radius: 3px;
     	-moz-border-radius: 3px;
    border-radius: 18px;
  	border: 1px solid #cccccc;
  	padding: 5px;
    font-size: 14px;
    color:white;
}

#createUser {
	margin-top: 10px;
	background-color: #373737;
  		-webkit-border-radius: 3px;
     	-moz-border-radius: 3px;
    border-radius: 18px;
  	border: 1px solid #cccccc;
  	padding: 5px;
    font-size: 14px;
    color:white;	
}

.edit_post {
	width: 70%;
	height: 500px;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
}
 #letterbucket_logo {
 	float: right;
 	width: 250px;
 	margin-top: 20px;
 }

 .menu {
 	width: 90%;
 	margin-right: auto;
 	margin-left: auto;
 	background-color: white;
 }

.menu li {
    display: inline;
    margin-right: 5%;
    margin-left: 10%;
}

.menu a {
	text-decoration: none;
	color: black;
	font-weight: 800;

}

#post_title {
  width: 300px;
  background-color: #efefef;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: px;
  border: 1px solid #cccccc;
  padding: 5px;
  font-size: 1.1em;
  float: left;

}

#post_input {
	width: 90%;
	background-color: #efefef;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 5px;
  font-size: 1.1em;
  float: left;
  height: 200px;
  margin-top: 20px;

}

.publish {
	margin-top: 10px;
	background-color: #373737;
  		-webkit-border-radius: 3px;
     	-moz-border-radius: 3px;
    border-radius: 18px;
  	border: 1px solid #cccccc;
  	padding: 5px;
    font-size: 14px;
    color:white;
    float: right;
    display: inline;
}

.attachment {
	float: left;
	margin-right: 20px;
}
