html { 
	font-family: 'Raleway', sans-serif; 
}

div.main_wrapper{
	background-image: url('https://unsplash.imgix.net/photo-1416339442236-8ceb164046f8?q=75&fm=jpg&s=8eb83df8a744544977722717b1ea4d09');
	background-repeat: no-repeat;
	height: 900px;
	margin-top: -50px;
	width: 100%;
	background-size: 100%;
}

div.logo {
	width: 200px; 
	margin-left: 40%; 
	padding-top: 200px;
	}

li.flashedMessageError { 
	color: red; 
	font-weight: 800; 
}

li.flashedMessageMessage { 
	font-weight: 800; 
}

ul.field_errors { 
	color: red; 
	font-size: 8pt; 
}

.login_form { 
	margin-right: 500px; 
	margin-top: 100px;
	height: 200px;
	background-color: #fff;
	opacity: .6;
	width: 100%;

}

form {
	padding-top: 25px;
	margin-right: auto;
	margin-left: 400px;
	
}

form label {
	font-family: 'Raleway', sans-serif; 
	font-weight: 700;

}

form input #username {
	background-color: #000;
}
