{% extends "base_page.html" %}
{% block page_title %}Edit Post{% endblock page_title %}
{% block content %}
  <div class="menu">
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="view_all.html">Browse Articles</a></li>
    <li><a href="#">Your Posts</a></li>
    <li id="user"><a href="#">User</a></li>
    </ul>
  </div>
   <div class="edit_post">
   <form action='#' method='POST' class="edit_post">
     <input type="text" placeholder="POST TITLE" id="post_title">
     <input type="text" id="post_input">
     <input type="button" value="PUBLISH" class="publish">
     <input type="button" value="+" class="publish attachment">
     <input type="button" value="+image" class="publish attachment">

   </form>
   </div>
{% endblock content %}
