{% extends "base_page.html" %}
{% import "form_helper.html" as form_helper %}
{% block page_title %}Edit Post{% endblock page_title %}
{% block content %}
{% include 'nav_menu.html' %}
<div class="edit_post">
   <form action='/edit' method='POST' class="edit_post">
     {{ form_helper.with_errors(form.post_title, placeholder="POST TITLE") }}
     {{ form_helper.with_errors(form.post_input) }}
     {{ form.submit(class="publish") }}
     <input type="button" value="+" class="publish attachment">
     <input type="button" value="+image" class="publish attachment">

   </form>
   </div>
{% endblock content %}
